<button  style="vertical-align:middle"><span>{{home}}</span></button>
<button  style="vertical-align:middle"><span>{{shopping}}</span></button>
<button  style="vertical-align:middle"><span>{{calendar}}</span></button>
<button  style="vertical-align:middle"><span>{{tasks}}</span></button> 
<button  style="vertical-align:middle"><span>{{notes}}</span></button> 
<button  style="vertical-align:middle"><span>{{economy}}</span></button> 
<button  style="vertical-align:middle"><span>{{real_state}}</span></button> 
<button  style="vertical-align:middle"><span>{{backend}}</span></button> 
<button  style="vertical-align:middle"><span>{{Add.title}}</span></button> 



