h1, h2, h3, h4, h5, h6 {
    color: #5a5a5a;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
  }
  button {
    display: inline-block;
    border-radius: 14px;
    background-color: #d6cececc; 
    color: black;
    border: none;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 160px;
    transition: all 0.35s;
    cursor: pointer;
    margin: 1px;
    font-family: Cambria, Georgia;
  }

  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.35s;
  }
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.35s;
  }
  button:hover {
    background-color: rgba(136, 136, 136, 0.89); /* Green */
    color: white;
    padding-right: 35px;
  }
  button:hover span:after {
    opacity: 1;
    right: 8;
  }

  

